#rpsls {
	margin-top: 50px;
	margin-bottom: 50px;
	min-height: calc(100vh - 100px);
}

.topSpacing {
	margin-top: 40px;
	margin-bottom: 10px;
}

.leftSpacing {
	padding-left: 40px;
}

.compChoice {
	border: 3px solid red;
}

.humanChoice {
	border: 3px solid green;
}

.compChoice.humanChoice {
	border: 3px solid black;
}

.image {
	width: 20%;
	cursor: pointer;
}

.message {
	width: 100%;
	font-weight: bold;
	font-size: 1.2rem;
}

.scoreMsg {
	font-size: 1.5rem;
}

.score {
	font-weight: bold;
}

#explanations {
	background-color: lightgrey;
}

.block {
	display: block;
	margin: 10px auto;
}

footer {
	height: 50px;
	width: 100%;
}
